html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden
}

object {
    display: block;
    position: absolute;
    padding: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* border: 1px solid black; */
}

/* .ignore {
    pointer-events: none;
} */

/* Button */
#nextPhaseBtn {
    position: absolute;
    bottom: 30px;
    left: calc(50vw - 10vh);
    width: 20vh;
    appearance: button;
    background-color: #1899D6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: din-round,sans-serif;
    font-size: 7vh;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

#nextPhaseBtn:after {
    background-clip: padding-box;
    background-color: #1CB0F6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

#nextPhaseBtn,
#nextPhaseBtn:focus {
    user-select: auto;
}

#nextPhaseBtn:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

#nextPhaseBtn:disabled {
    cursor: auto;
}

#nextPhaseBtn:active {
    border-width: 4px 0 0;
    background: none;
}

#attackBtn {
    position: absolute;
    bottom: 100px;
    left: calc(50vw - 5vh);
    height: 10vh;
    width: 10vh;
    appearance: button;
    background-color: #630101;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: din-round,sans-serif;
    font-size: 7vh;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

#attackBtn:after {
    background-clip: padding-box;
    background-color: #ca2020;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

#attackBtn,
#attackBtn:focus {
    user-select: auto;
}

#attackBtn:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

#attackBtn:disabled {
    cursor: auto;
}

#attackBtn:active {
    border-width: 4px 0 0;
    background: none;
}